# created by virtualenv automatically
Lib/
graduate/padelytics-a587d-firebase-adminsdk-fbsvc-d719628557.json
graduate/padelytics-a587d-firebase-adminsdk-fbsvc-d719628557.json
*.json
graduate/padelytics-a587d-firebase-adminsdk-fbsvc-52d874cb74.json




